

<div class="banner">
  <div class="container">
  <p><%= link_to 'New Task', new_task_path %></p>
    <% @tasks.each do |task| %>
    <p>
      <%= link_to task.title, task_path(task)  %>
      <% if task.completed %>
      <i class="fa-regular fa-square-check"></i>
      <% else %>
      <i class="fa-regular fa-square"></i>
      <% end %>
    </p>
    <% end %>
  </div>
</div>
